<ion-content [fullscreen]="true">
  <ion-grid class="grid">
    <ion-row class="ion-padding-top">
      <ion-col>
        <ion-label class="ion-text-center">
          <h1>
            {{ "wellcome.title" | translate }}
          </h1>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <swiper-container slides-per-view="1" autoplay="true" loop>
          @for (item of imagesEven; track $index) {
          <swiper-slide>
            <img [src]="'assets/images/' + item + '.jpg'" />
          </swiper-slide>
          }
        </swiper-container>

        <swiper-container slides-per-view="1" autoplay="true" loop>
          @for (item of imagesOdd; track $index) {
          <swiper-slide>
            <img [src]="'assets/images/' + item + '.jpg'" />
          </swiper-slide>
          }
        </swiper-container>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-top ion-justify-content-center">
      <ion-col size="auto">
        <ion-button expand="block" (click)="onClickLogin()">{{
          "login" | translate
        }}</ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-top ion-justify-content-center bottom">
      <ion-col size="auto" class="ion-text-center column">
        <ion-label>{{ "wellcome.presentation" | translate }}</ion-label>
        <ion-button
          expand="block"
          (click)="onClickAboutMe()"
          class="ion-margin-top"
          >{{ "wellcome.about" | translate }}</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
