ion-content {
  --background: var(--ion-color-light-contrast);
  --color: var(--ion-color-light);
}

.grid {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 80vh;
}

.bottom {
  margin-top: auto;
}

.column {
  display: flex;
  flex-direction: column;
}

swiper-slide {
  max-height: 250px;
}
