.grid {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
}

.register {
  margin-top: auto;

  ion-col {
    align-items: center;
    display: flex;
    gap: 0.5rem;
  }
}
