<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="wellcome"
        [text]="'common.back' | translate"
      />
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-grid class="grid">
    <ion-row class="ion-justify-content-center">
      <ion-col size="auto">
        <h1 class="ion-text-center">{{ "register" | translate }}</h1>
        @if (form) {
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <ion-item class="ion-padding-top">
            <ion-input
              [label]="'common.email' | translate"
              [placeholder]="'common.email.placeholder' | translate"
              formControlName="email"
              type="email"
            />
          </ion-item>

          <ion-item class="ion-padding-top">
            <ion-input
              [label]="'common.password' | translate"
              [placeholder]="'common.password.placeholder' | translate"
              formControlName="password"
              type="password"
            />
          </ion-item>

          <ion-button
            [disabled]="!form.valid"
            class="ion-margin-top"
            type="submit"
            expand="block"
          >
            {{ "register" | translate }}
          </ion-button>
        </form>
        }
      </ion-col>
    </ion-row>

    <ion-row class="login">
      <ion-col [routerLink]="['/auth/login']">
        <ion-icon name="help-circle-outline" size="large"></ion-icon>
        <ion-label>{{ "register.login" | translate }}</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
