@if (classes()) {
<ion-item-group>
  @for (item of classes(); track item.id) {
  <ion-item>
    <ion-label>
      <ion-icon name="calendar-outline"></ion-icon>
      {{ item.date | date : "dd-MM-yyyy" }}</ion-label
    >
    <ion-label>
      <ion-icon name="time-outline"></ion-icon>
      {{ item.date | date : "HH:mm" }}</ion-label
    >
  </ion-item>
  } @empty {
  <ion-item>
    <ion-label class="ion-text-wrap ion-text-center">
      {{ "classes.empty" | translate }}</ion-label
    >
  </ion-item>
  }
</ion-item-group>
}
